@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Active navbar underline */
a.active hr {
  display: block;
}

/* Global font */
* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default browser styles */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Prata font class */
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width:640px){
  a.active{
    background-color: black;
    color: white;
  }
}
